{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html.twig" %}

{% set name = application.name | l10n(locale) %}

{% block title %}{{ name }} - Developmnt information{% endblock %}
{% block description %}{{ application.summary | l10n(locale) }}{% endblock %}
{% block image %}{% if application.screenshots | length > 0 %}{{ application.screenshots[0].sourceImage }}{% else %}https://kde.org/products/apps.png{% endif %}{% endblock %}
{% block canonical %}https://kde.org{{ path('app_main_application_dev_intl', {'_locale': locale, 'category': category, 'application': application.id}) }}{% endblock %}

{% block hreflang %}
  <link rel="alternate" href="https://kde.org{{ path('app_main_application_dev_intl', {'_locale': "en", 'category': category | lower, 'application' : application.id }) }}" hreflang="en" />
  {% for translation in translations %}
    <link rel="alternate" href="https://kde.org{{ path('app_main_application_dev_intl', {'_locale': translation, 'category': category | lower, 'application' : application.id }) }}" hreflang="{{ translation }}" />
  {% endfor %}
{% endblock %}

{% block body %}
  <main>
    <div class="application-header pt-2 pb-2">
      <div class="container d-flex">
        <img src="{{ asset('icons/' ~ application.icon) }}" alt="{% trans %}%name% Icon{% endtrans %}"
             width="64" height="64" class="mr-2"/>
        <div>
          <h1 style="font-size: 1.5rem">
            <a href="{{ path('app_main_index', {'_locale': locale}) }}">{% trans %}KDE's Applications{% endtrans %}</a>
            {{ name }}
          </h1>
          <a href="{{ path('app_main_category_intl', {'_locale': locale, 'category': category}) }}">
            {{ application.primaryCategory | trans }}
          </a>
        </div>
        <a class="noblefir ml-auto align-self-center"
           id="install-button"
           href="https://community.kde.org/Get_Involved">
          <i class="icon icon_cloud-download" style="font-size: 16px"></i>
          <span id="install-msg">{% trans %}Get Involved{% endtrans %}</span>
        </a>
      </div>
    </div>
    <style>
      .swiper-container, .swiper-slide img, .screenshot img {
        height: 50vw;
        min-height: 300px;
        max-height: 500px;
      }

      .swiper-pagination-bullet {
        width: 12px;
        height: 12px;
      }

      .swiper-slide {
        flex-shrink: initial;
      }

    </style>

    <div class="container" style="overflow: hidden;">
      <h2>{% trans %}Source Code Repository{% endtrans %}</h2>
      <div>
        <a href="https://invent.kde.org/{{ application.repository }}">
           {% trans %}Browse %name% source code online{% endtrans %}
        </a>
      </div>
      <code>git clone https://invent.kde.org/{{ application.repository }}</code>
    </div>
  </main>
{% endblock %}

{% block donation %}#{{ name }}{% endblock %}
