{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% extends "base.html.twig" %}

{% block title %}{% trans %}KDE's Applications{% endtrans %}{% endblock %}
{% block description %}{% trans %}KDE is a community of friendly people who create over 200 apps which run on any Linux desktop, and often other platforms too. Here is the complete list.{% endtrans %}{% endblock %}
{% block image %}https://kde.org/products/apps.png{% endblock %}
{% block canonical %}https://kde.org{{ path('app_main_index', {'_locale': locale}) }}{% endblock %}
{% block imageSize %}summary{% endblock %}

{% block hreflang %}
  <link rel="alternate" href="https://kde.org{{ path('app_main_index', {'_locale': "en"}) }}" hreflang="en" />
  {% for translation in translations %}
    <link rel="alternate" href="https://kde.org{{ path('app_main_index', {'_locale': translation}) }}" hreflang="{{ translation }}" />
  {% endfor %}
{% endblock %}

{% block body %}
  <main class="container">
    <h1>{{ block('title') }}</h1>

    <nav class="mb-2" aria-label="{% trans %}Language selector{% endtrans %}">
      <ul class="list-inline">
        <li class="list-inline-item">
          {% if locale == "en" %}
            <span aria-label="{% trans %}Selected language: English{% endtrans %}">English</span>
          {% else %}
            <a href="{{ path('app_main_index', {'_locale': "en"}) }}">English</a>
          {% endif %}
          <span aria-hidden="true">|</span>
        </li>
        {% for translation in translations %}
          <li class="list-inline-item">
            {% if locale == translation %}
              {% set lang = translation | language_name(translation) | capitalize %}
              <span aria-label="{% trans %}Selected language: %lang%{% endtrans %}">{{ lang }}</span>
            {% else %}
              <a href="{{ path('app_main_index', {'_locale': translation}) }}">{{ translation | language_name(translation) | capitalize}}</a>
            {% endif %}
            {% if not loop.last %}
              <span aria-hidden="true">|</span>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>

    <p>{{ block('description') }}</p>

    <div class="form-group">
      <label for="search" class="sr-only">{% trans %}Search applications{% endtrans %}</label>
      <input role="search" type="email" class="form-control" id="search" placeholder="{% trans %}Search...{% endtrans %}">
    </div>

    {% for category in categories %}
      {% include 'category.html.twig' with {'lazy': (not loop.first)} %}
    {% endfor %}
  </main>
{% endblock %}
