{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
<!DOCTYPE html>
<html lang="{{ locale }}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% trans %}KDE's Applications{% endtrans %}{% endblock %}</title>
  <meta name="description" content="{{ block('description') }}" />
  <meta name="author" content="KDE Community" />
  <link rel="canonical" href="{% block canonical %}{{ app.request.getSchemeAndHttpHost }}/applications{% endblock %}" />

  <!-- Facebook open graph configuration -->
  <meta property="og:title" content="{{ block('title') }}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ block('canonical') }}" />
  <meta property="og:description" content="{{ block('description') }}" />
  <meta property="og:site_name" content="KDE.org">
  <meta property="og:image" content="{{ block('image') }}" />

  <!-- Twitter card configuration -->
  <meta name="twitter:card" content="{% block imageSize %}summary_large_image{% endblock %}" />
  <meta name="twitter:site" content="@kdecommunity" />
  <meta name="twitter:title" content="{{ block('title') }}" />
  <meta name="twitter:description" content="{{ block('description') }}" />
  <meta name="twitter:image" content="{{ block('image') }}" />

  <!-- schema.org metadata -->
  <script type="application/ld+json">
  {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "https://kde.org/",
      "name": "KDE",
      "description": "KDE is an open community of friendly people who want to create a world in which everyone has control over their digital life and enjoys freedom and privacy."
  }
  </script>

  <!-- Icons -->
  <link rel="apple-touch-icon" href="https://kde.org/aether/media/180x180.png" />
  <link rel="shortcut icon" href="https://kde.org/aether/media/192x192.png" />

  {% block stylesheets %}
    {% for file in cdnCache.cssFiles %}
      <link href="https://cdn.kde.org{{ file }}" rel="stylesheet"/>
    {% endfor %}
  {% endblock %}
  <link href="https://cdn.kde.org/breeze-icons/icons.css" rel="stylesheet" />

  {% block hreflang %}
  {% endblock %}
</head>
<body>
<header id="KGlobalHeader" class="header clearfix">
  <nav class="navbar navbar-expand-sm">
    <a aria-label="KDE Homepage" class="kde-logo navbar-brand active" href="/"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ml-3">
        <li class="nav-item">
          <a class="nav-link text-dark" href="/products">{% trans %}Products{% endtrans %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/develop">{% trans %}Develop{% endtrans %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="https://community.kde.org/Get_Involved">
            {% trans %}Get Involved{% endtrans %}
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="/donations">{% trans %}Donate{% endtrans %}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

{% block body %}{% endblock %}

<footer id="kFooter" class="footer">
  <section id="kPatrons" class="container">
    <h3>KDE Patrons</h3>
    <div class="d-flex flex-wrap flex-md-nowrap justify-content-center">
      <span><img src="/aether/media/patrons/canonical.svg" alt="Logo of KDE Patron: Canonical"></span>
      <span><img src="/aether/media/patrons/google.svg" alt="Logo of KDE Patron: Google"></span>
      <span><img src="/aether/media/patrons/suse.svg" alt="Logo of KDE Patron: SUSE"></span>
      <span><img src="/aether/media/patrons/qt-company.svg" alt="Logo of KDE Patron: The Qt Company"></span>
      <span><img src="/aether/media/patrons/blue-systems.png" alt="Logo of KDE Patron: Blue System"></span>
      <span><img src="/aether/media/patrons/enioka-haute-couture-logo.svg"
                 alt="Logo of KDE Patron: enioka Haute Couture"></span>
    </div>
  </section>

  <section id="kFooterIncome" class="container">
    <div id="kDonateForm">
      <div class="center">
        <h3>Donate to KDE <a href="/community/donations/index.php#money" target="_blank">Why Donate?</a></h3>
        <form action="https://www.paypal.com/en_US/cgi-bin/webscr" method="post"
              onsubmit="return amount.value >= 2 || window.confirm('Your donation is smaller than 2€. This means that most of your donation\nwill end up in processing fees. Do you want to continue?');">
          <input type="hidden" name="cmd" value="_donations">
          <input type="hidden" name="lc" value="GB">
          <input type="hidden" name="item_name" value="Development and communication of KDE software">
          <input type="hidden" name="custom" value="//kde.org//donation_box{% block donation %}{% endblock %}">
          <input type="hidden" name="currency_code" value="EUR">
          <input type="hidden" name="cbt" value="Return to kde.org">
          <input type="hidden" name="return" value="https://kde.org/community/donations/thanks_paypal">
          <input type="hidden" name="notify_url" value="https://kde.org/community/donations/notify.php">
          <input type="hidden" name="business" value="kde-ev-paypal@kde.org">
          <input aria-label="Donation value" type="text" name="amount" value="20.00" id="donateAmountField"
                 data-kpxc-id="donateAmountField"> €
          <button type="submit" id="donateSubmit">Donate via PayPal</button>
        </form>

        <a href="/community/donations/others" id="otherWaysDonate" target="_blank">Other ways to donate</a>
      </div>
    </div>
    <div id="kMetaStore">
      <div class="center">
        <h3>Visit the KDE MetaStore</h3>
        <p>Show your love for KDE! Purchase books, mugs, apparel, and more to support KDE.</p>
        <a href="/stuff/metastore" class="button">Click here to browse</a>
      </div>
    </div>
  </section>

  <section id="kLinks" class="container">
    <div class="row">
      <nav class="col-sm">
        <h3>Products</h3>
        <a href="/plasma-desktop">Plasma</a>
        <a href="/applications/">KDE Applications</a>
        <a href="/products/frameworks/">KDE Frameworks</a>
        <a href="https://plasma-mobile.org/overview/">Plasma Mobile</a>
        <a href="https://neon.kde.org/">KDE neon</a>
        <a href="https://wikitolearn.org/" target="_blank" rel="noreferrer">WikiToLearn</a>
      </nav>

      <nav class="col-sm">
        <h3>Develop</h3>
        <a href="https://techbase.kde.org/">TechBase Wiki</a>
        <a href="https://api.kde.org/">API Documentation</a>
        <a href="https://doc.qt.io/" rel="noreferrer" target="_blank">Qt Documentation</a>
        <a href="https://inqlude.org/" rel="noreferrer" target="_blank">Inqlude Documentation</a>
        <a href="/goals">Goals</a>
      </nav>

      <nav class="col-sm">
        <h3>News &amp; Press</h3>
        <a href="/announcements/">Announcements</a>
        <a href="https://dot.kde.org/">KDE.news</a>
        <a href="https://planet.kde.org/">Planet KDE</a>
        <a href="https://www.kde.org/screenshots">Screenshots</a>
        <a href="https://www.kde.org/contact/">Press Contact</a>
      </nav>

      <nav class="col-sm">
        <h3>Resources</h3>
        <a href="https://community.kde.org/Main_Page">Community Wiki</a>
        <a href="https://userbase.kde.org/">UserBase Wiki</a>
        <a href="/stuff/">Miscellaneous Stuff</a>
        <a href="/support/">Support</a>
        <a href="/support/international.php">International Websites</a>
        <a href="/download/">Download KDE Software</a>
        <a href="/code-of-conduct/">Code of Conduct</a>
        <a href="/privacypolicy">Privacy Policy</a>
        <a href="/privacypolicy-apps">Applications Privacy Policy</a>
      </nav>

      <nav class="col-sm">
        <h3>Destinations</h3>
        <a href="https://store.kde.org/">KDE Store</a>
        <a href="https://ev.kde.org/">KDE e.V.</a>
        <a href="https://www.kde.org/community/whatiskde/kdefreeqtfoundation.php">KDE Free Qt Foundation</a>
        <a href="https://timeline.kde.org/">KDE Timeline</a>
      </nav>
    </div>
  </section>

  <section id="kSocial" class="container kSocialLinks">
    <a class="shareFacebook" href="https://www.facebook.com/kde/" rel="nofollow">Post on Facebook</a>
    <a class="shareTwitter" href="https://twitter.com/kdecommunity" rel="nofollow">Share on Twitter</a>
    <a class="shareDiaspora" href="https://joindiaspora.com/people/9c3d1a454919ef06" rel="nofollow">Share on
      Diaspora</a>
    <a class="shareMastodon" href="https://mastodon.technology/@kde" rel="me nofollow">Share on Mastodon</a>
    <a class="shareLinkedIn" href="https://www.linkedin.com/company/29561/" rel="nofollow">Share on LinkedIn</a>
    <a class="shareReddit" href="https://www.reddit.com/r/kde/" rel="nofollow">Share on Reddit</a>
    <a class="shareYouTube" href="https://www.youtube.com/channel/UCF3I1gf7GcbmAb0mR6vxkZQ" rel="nofollow">Share on
      YouTube</a>
    <a class="sharePeerTube" href="https://peertube.mastodon.host/accounts/kde/videos" rel="nofollow">Share on
      PeerTube</a>
    <a class="shareVK" href="https://vk.com/kde_ru" rel="nofollow">Share on VK</a>
  </section>

  <section id="kLegal" class="container">
    <div class="row">
      <small class="col-4">
        Maintained by <a href="mailto:kde-www@kde.org">KDE Webmasters</a>.
        <a href="https://invent.kde.org/websites/kde-org-applications">Source code</a> available under AGPl-3.0-or-later
      </small>
      <small class="col-8" style="text-align: right;">
        KDE<sup>®</sup> and <a href="/media/images/trademark_kde_gear_black_logo.png">the K Desktop
          Environment<sup>®</sup> logo</a> are registered trademarks of
        <a href="https://ev.kde.org/" title="Homepage of the KDE non-profit Organization">KDE e.V.</a> |
        <a href="https://www.kde.org/community/whatiskde/impressum">Legal</a>
      </small>
    </div>
  </section>
</footer>
{% block javascripts %}
  {% for file in cdnCache.jsFiles %}
    <script src="https://cdn.kde.org{{ file }}"></script>
  {% endfor %}
{% endblock %}
<script type="text/javascript">
var _paq = window._paq || []; /* tracker methods like "setCustomDimension" should be called before "trackPageView" */ _paq.push(['disableCookies']); _paq.push(['trackPageView']); _paq.push(['enableLinkTracking']); (function() { var u="https://stats.kde.org/"; _paq.push(['setTrackerUrl', u+'matomo.php']); _paq.push(['setSiteId', '1']); var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0]; g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s); })();
</script>
</body>
</html>
