{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}
<section class="category">
  <h2>
    {% if category.name != 'unmaintained' %}
      <a href="{{ path('app_main_category_intl', {'_locale': locale, 'category': category.name | lower }) }}">
        {{ category.name | capitalize | trans }}
      </a>
      {% if category.icon is not null %}
        <img aria-hidden="true" width="36" height="36" src="{{ asset('icons/categories/' ~ category.icon) }}"
             {% if lazy %}
               loading="lazy"
             {% endif %}
             alt="{{ category.name }}" title="{{ category.name }}"/>
      {% endif %}
    {% else %}
      <a id="unmaintained-collapse-link" class="collapsed" data-toggle="collapse" href="#{{ category.name }}-collapse">
        {% trans %}Unmaintained{% endtrans %}
        <i class="icon icon_expand-all"></i>
      </a>
    {% endif %}
  </h2>

  <div class="{{ category.name == 'unmaintained' ? 'collapse' }}" id="{{ category.name }}-collapse">
    <h3 class="applications-title">{% trans %}Applications{% endtrans %}</h3>
    <div class="applications row align-items-stretch">
      {% for application in category.applications %}
        <div class="app text-center col-12 col-sm-6 col-md-4 col-lg-3 p-2">
          <div class="p-3 h-100">
            <div aria-hidden="true">
              <a href="{{ path('app_main_application_intl', {'_locale': locale, 'category': category.name | lower, 'application' : application.id }) }}">
                <img width="48" height="48" src="{{ asset('icons/' ~ application.icon) }}"
                     loading="lazy"
                     alt="{{ application.name | l10n(locale) }}" title="{{ application.name | l10n(locale) }}"/>
              </a>
            </div>
            <a href="{{ path('app_main_application_intl', {'_locale': locale, 'category': category.name | lower, 'application' : application.id }) }}">
              {{ application.name | l10n(locale) }}
            </a>
            <p>{{ application.genericName | l10n(locale) }}</p>
          </div>
        </div>
      {% endfor %}
    </div>

    {% if category.addons | length > 0 %}
      <h3 class="addons-title">{% trans %}Addons{% endtrans %}</h3>
      <div class="addons row align-items-stretch">
        {% for application in category.addons %}
          <div class="app text-center col-12 col-sm-6 col-md-4 col-lg-3 p-2">
            <div class="p-3 h-100">
              <div aria-hidden="true">
                <a href="{{ path('app_main_application_intl', {'_locale': locale, 'category': category.name | lower, 'application' : application.id }) }}">
                  <img width="48" height="48" src="{{ asset('icons/' ~ application.icon) }}"
                       alt="{{ application.name | l10n(locale) }}" title="{{ application.name | l10n(locale) }}"/>
                </a>
              </div>
              <a href="{{ path('app_main_application_intl', {'_locale': locale, 'category': category.name | lower, 'application' : application.id }) }}">
                {{ application.name | l10n(locale) }}
              </a>
              <p>{{ application.genericName | l10n(locale) }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</section>
