{#
SPDX-FileCopyrightText: 2020 Carl Schwan <carl@carlschwan.eu>

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{#
This file is not used by any php files. This is an hack to extract the
category name so that the translators can translate them. DON'T DELETE.
#}

{% trans %}Development{% endtrans %}
{% trans %}Education{% endtrans %}
{% trans %}Games{% endtrans %}
{% trans %}Graphics{% endtrans %}
{% trans %}Internet{% endtrans %}
{% trans %}Multimedia{% endtrans %}
{% trans %}Office{% endtrans %}
{% trans %}System{% endtrans %}
{% trans %}Utilities{% endtrans %}
